if SHIELD_ECHEVERIA_LEFT

config ZMK_KEYBOARD_NAME
    default "echeveria"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ECHEVERIA_LEFT || SHIELD_ECHEVERIA_RIGHT

config ZMK_SPLIT
    default y

endif